body {
    background-color: #212529;
}

.card > table >tbody > tr > td:first-child {
    width: 7rem;
}

.external-link {
    font-size: 16pt;
    padding-right: 8px;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
  }